.container{
  width: 100%;
  border: 1px solid black;
}

.content{
  display: flex;
}

.left_content{
  width: 40%;
}

.left_content > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right_content{
  width: 60%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.btn_div{
  display: flex;
  gap: 10px;
}