.search_div{
  display: flex;
  justify-content: space-between;
}

.search_div > div{
  display: flex;
  gap: 10px;
}

.table_div{
  margin-top: 30px;
}

.table_div > p{
  font-size: 1.2rem;
  font-weight: 700;
}

.table{
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.table > thead > tr{
  border-bottom:3px solid #667eea;
  color: black;
  font-weight: 700;
}

.table td{
  padding: 12px;
}

.table > tbody > tr:nth-child(odd){
  background-color: #f9f9f9;
}

.table > tbody > tr:nth-child(even){
  background-color: #fcfcfc;
}

.table > tbody > tr:hover{
  cursor: pointer;
  background-color: #eeeeee;
}