.container{
  width: 1280px;
  background-color: #eeeeee;
}

.content{
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 100px 15px;
}

.content > div{
  width: 100%;
}

.input{
  position: relative;
}

.input > span{
  color: #777777;
  font-size: 1.7rem;
  position: absolute;
  left: 10px;
  top: 7px;
}

.content input, .content button{
  width: 100%;
  padding: 15px 50px;
}

.content input{
  border: none;
  border-top: 2px solid #cccccc;
}

.content input::placeholder{
  font-size: 1rem;
}

.content button{
  font-size: 1.2rem;
  background-color: aquamarine;
  border: none;
  border-bottom: 2px solid rgb(113, 240, 197);
  color: white;
}