<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.mem.answer.mapper.AnswerMapper">
    <resultMap id="answer" type="com.green.mem.answer.dto.AnswerDTO">
        <id     column="ANS_ID"      property="ansId" />
        <result column="ANS_CONTENT" property="ansContent" />
        <result column="QST_ID"      property="qstId" />
        <result column="MEM_ID"      property="memId" />
        <result column="ANS_DATE"    property="ansDate" />
    </resultMap>

    <!-- 답변 등록 -->
    <insert id="regAnswer">
        INSERT INTO ANSWER (
            ANS_CONTENT
            , QST_ID
            , MEM_ID
        ) VALUES (
            #{ansContent}
            , #{qstId}
            , #{memId}
        )
    </insert>

    <!-- 답변 조회 -->
    <select id="getAnswer" resultMap="answer">
        SELECT ANS_ID
            , ANS_CONTENT
            , QST_ID
            , MEM_ID
            , ANS_DATE
        FROM ANSWER
        WHERE QST_ID = #{qstId}
    </select>

    <!-- 답변 중복 확인 -->
    <select id="getDupAnswer" resultType="String">
        SELECT MEM_ID
        FROM ANSWER
        WHERE QST_ID = #{qstId}
    </select>

    <!-- 답변 중복 시 수정 -->
    <update id="updateAnswer">
        UPDATE ANSWER
        SET ANS_CONTENT = #{ansContent}
        WHERE QST_ID = #{qstId}
    </update>
</mapper>