<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.mem.buy.mapper.BuyMapper">
    <!-- mem_buy테이블 조회 결과를 받아올 정의문 -->
	<resultMap id="buy" type="com.green.mem.buy.dto.BuyDTO">
        <id     column="BUY_NUM"        property="buyNum" />
        <result column="CLOTHING_NUM"   property="clothingNum" />
        <result column="MEM_ID"         property="memId" />
        <result column="BUY_DATE"       property="buyDate" />
        <result column="BUY_CNT"        property="buyCnt" />
        <result column="ORDER_NUM"      property="orderNum" />
        <result column="TOTAL_PRICE"    property="totalPrice" />
        <association property="clothingDTO" resultMap="com.green.mem.clothing.mapper.ClothingMapper.clothing" />
    </resultMap>
    
    <!-- 구매 이력 조회를 받아올 정의문 -->
    <resultMap id="buyDTOForAdmin" type="com.green.mem.buy.dto.BuyDTOForAdmin">
        <result column="BUY_NUM" property="buyNum" />
        <result column="ORDER_NUM" property="orderNum" />
        <result column="CLOTHING_NAME" property="clothingName" />
        <result column="MEM_ID" property="memId" />
        <result column="TOTAL_PRICE" property="totalPrice" />
        <result column="BUY_DATE" property="buyDate" />
    </resultMap>

    <!-- 상세 페이지 구매 -->
    <insert id="regBuyInDetail">
        INSERT INTO MEM_BUY (
            CLOTHING_NUM
            , MEM_ID
            , BUY_CNT
            , ORDER_NUM
        ) VALUES (
            #{clothingNum}
            , #{memId}
            , #{buyCnt}
            , (SELECT IFNULL(MAX(ORDER_NUM), 0) + 1
                FROM MEM_BUY)
        )
    </insert>

    <!-- 장바구니 페이지 구매 -->
    <insert id="regBuyInCart">
        INSERT INTO MEM_BUY (
            CLOTHING_NUM
            , MEM_ID
            , BUY_CNT
            , ORDER_NUM
        ) VALUES
        <foreach collection="cartNumList" item="cartNum" separator=",">
        (
            (SELECT CLOTHING_NUM
            FROM MEM_CART
            WHERE CART_NUM = #{cartNum})
            , (SELECT MEM_ID
                FROM MEM_CART
                WHERE CART_NUM = #{cartNum})
            , (SELECT CART_CNT
                FROM MEM_CART
                WHERE CART_NUM = #{cartNum})
            , (SELECT IFNULL(MAX(ORDER_NUM), 0) + 1
                FROM MEM_BUY)
        )
        </foreach>
    </insert>

    <!-- 구매 이력 조회 -->
    <select id="getBuyListForAdmin" resultMap="buyDTOForAdmin">
        SELECT BUY_NUM
            , ORDER_NUM
            , IF(COUNT(ORDER_NUM) = 1
                , MAX((SELECT CLOTHING_NAME
                        FROM CLOTHING
                        WHERE CLOTHING_NUM = B.CLOTHING_NUM))
            , CONCAT(MAX((SELECT CLOTHING_NAME
                        FROM CLOTHING
                        WHERE CLOTHING_NUM = B.CLOTHING_NUM))
                , ' 외 ', COUNT(ORDER_NUM) - 1, '건')) CLOTHING_NAME
            , MAX((SELECT MEM_ID
                FROM CLOTHING
                WHERE CLOTHING_NUM = B.CLOTHING_NUM)) MEM_ID
            , SUM((SELECT PRICE
                FROM CLOTHING
                WHERE CLOTHING_NUM = B.CLOTHING_NUM) * BUY_CNT) TOTAL_PRICE
            , MAX(BUY_DATE) BUY_DATE
        FROM MEM_BUY B
        WHERE 1 = 1
        <if test='orderNum != null and !orderNum.equals("")'>
            AND ORDER_NUM = #{orderNum}
        </if>
        <if test='memId != null and !memId.equals("")'>
            AND MEM_ID LIKE CONCAT('%', #{memId}, '%')
        </if>
        <if test='fromDate != null and !fromDate.equals("")'>
            AND BUY_DATE &gt;= #{fromDate}
        </if>
        <if test='toDate != null and !toDate.equals("")'>
            AND BUY_DATE &lt; ADDDATE(#{toDate}, 1)
        </if>
        GROUP BY ORDER_NUM
        ORDER BY BUY_DATE DESC
    </select>

    <!-- 구매 이력 상세 조회 -->
    <select id="getBuyDetail" resultMap="buy">
        SELECT BUY_NUM
            , CLOTHING_NAME
            , ATTACHED_IMG_NAME
            , PRICE
            , BUY_CNT
            , PRICE * BUY_CNT TOTAL_PRICE
        FROM MEM_BUY B
        INNER JOIN CLOTHING C
        ON B.CLOTHING_NUM = C.CLOTHING_NUM
        INNER JOIN CLOTHING_IMG I
        ON B.CLOTHING_NUM = I.CLOTHING_NUM
        WHERE ORDER_NUM = #{orderNum}
        AND IS_MAIN = 'Y'
    </select>
</mapper>