<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.mem.clothing.mapper.ClothingMapper">
	<resultMap id="clothing" type="com.green.mem.clothing.dto.ClothingDTO">
        <id     column="CLOTHING_NUM"   property="clothingNum" />
        <result column="CLOTHING_NAME"  property="clothingName" />
        <result column="BRAND"          property="brand" />
        <result column="PRICE"          property="price" />
        <result column="REG_DATE"       property="regDate" />
        <result column="CLOTHING_INTRO" property="clothingIntro" />
        <result column="CATE_NUM"       property="cateNum" />
        <collection property="clothingImgDTOList" resultMap="clothingImg" />
    </resultMap>

    <!-- 옷 이미지 테이블 조회 결과를 받을 정의문 -->
    <resultMap id="clothingImg" type="com.green.mem.clothing.dto.ClothingImgDTO">
        <id     column="IMG_NUM"            property="imgNum" />
        <result column="ORIGIN_IMG_NAME"    property="originImgName" />
        <result column="ATTACHED_IMG_NAME"  property="attachedImgName" />
        <result column="CLOTHING_NUM"       property="clothingNum" />
        <result column="IS_MAIN"            property="isMain" />
    </resultMap>

    <!-- 옷 등록 -->
    <insert id="insertClothing">
        INSERT INTO CLOTHING (
            CLOTHING_NAME
            , BRAND
            , PRICE
            , CLOTHING_INTRO
            , CATE_NUM
        ) VALUES (
            #{clothingName}
            , #{brand}
            , #{price}
            , #{clothingIntro}
            , #{cateNum}
        )
    </insert>

    <!-- 등록할 옷 번호 조회 -->
    <select id="getNextClothingNum" resultType="int">
        SELECT IFNULL(MAX(CLOTHING_NUM), 0) + 1
        FROM CLOTHING
    </select>

    <!-- 옷 등록 시 같이 등록될 이미지들 -->
    <insert id="insertClothingImgs">
        INSERT INTO CLOTHING_IMG (
            ORIGIN_IMG_NAME
            , ATTACHED_IMG_NAME
            , CLOTHING_NUM
            , IS_MAIN
        ) VALUES
        <foreach collection="clothingImgDTOList" item="clothingImgDTO" separator=",">
            (#{clothingImgDTO.originImgName}
            , #{clothingImgDTO.attachedImgName}
            , #{clothingImgDTO.clothingNum}
            , #{clothingImgDTO.isMain})
        </foreach>
    </insert>

    <!-- 옷 목록 조회 -->
    <select id="getClothingList" resultMap="clothing">
        SELECT C.CLOTHING_NUM
            , CLOTHING_NAME
            , PRICE
            , ATTACHED_IMG_NAME
            , IS_MAIN
        FROM CLOTHING C
        INNER JOIN CLOTHING_IMG I
        ON C.CLOTHING_NUM = I.CLOTHING_NUM
        WHERE IS_MAIN = 'Y'
        ORDER BY REG_DATE
    </select>

    <!-- 옷 상세 조회 -->
    <select id="getClothing" resultMap="clothing">
        SELECT C.CLOTHING_NUM
            , CLOTHING_NAME
            , BRAND
            , PRICE
            , CLOTHING_INTRO
            , ATTACHED_IMG_NAME
            , IS_MAIN
        FROM CLOTHING C
        INNER JOIN CLOTHING_IMG I
        ON C.CLOTHING_NUM = I.CLOTHING_NUM
        WHERE C.CLOTHING_NUM = #{clothingNum}
    </select>
</mapper>