<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.mem.question.mapper.QuestionMapper">
    <resultMap id="question" type="com.green.mem.question.dto.QuestionDTO">
        <id     column="QST_ID"      property="qstId" />
        <result column="QST_TITLE"   property="qstTitle" />
        <result column="QST_CONTENT" property="qstContent" />
        <result column="MEM_ID"      property="memId" />
        <result column="QST_DATE"    property="qstDate" />
        <result column="QST_STATUS"    property="qstStatus" />
        <collection property="questionImgDTOList" resultMap="questionImg" />
    </resultMap>

    <!-- 문의 이미지 resultMap -->
    <resultMap id="questionImg" type="com.green.mem.question.dto.QuestionImgDTO">
        <id     column="IMG_NUM" property="imgNum" />
        <result column="ORIGIN_IMG_NAME" property="originImgName" />
        <result column="ATTACHED_IMG_NAME" property="attachedImgName" />
        <result column="QST_ID" property="qstId" />
        <result column="IS_MAIN" property="isMain" />
    </resultMap>

    <!-- 문의 등록 -->
    <insert id="regQst">
        INSERT INTO QUESTION (
            QST_TITLE
            , QST_CONTENT
            , MEM_ID
        ) VALUES (
            #{qstTitle}
            , #{qstContent}
            , #{memId}
        )
    </insert>

    <!-- 문의 목록 조회 -->
    <select id="getQstList" resultMap="question">
        SELECT QST_ID
            , QST_TITLE
            , QST_STATUS
        <if test="memRole.equals('ADMIN')">
            , MEM_ID
        </if>
            , QST_DATE
        FROM QUESTION
        <if test="memRole.equals('USER')">
            WHERE MEM_ID = #{memId}
        </if>
        ORDER BY QST_DATE DESC
    </select>

    <!-- 문의 상세 조회 및 답변 -->
    <select id="getQstDetail" resultMap="question">
        SELECT QST_ID
            , QST_TITLE
            , QST_CONTENT
        <if test="memRole.equals('ADMIN')">
            , MEM_ID
        </if>
            , QST_DATE
            , QST_STATUS
        FROM QUESTION
        WHERE QST_ID = #{qstId}
    </select>

    <!-- 문의 등록 전 qstId 조회 -->
    <select id="getQstId" resultType="int">
        SELECT IFNULL(MAX(QST_ID), 0) + 1 QST_ID
        FROM QUESTION
    </select>

    <!-- 문의 이미지 등록 -->
    <insert id="regQuestionImgList">
        INSERT INTO QUESTION_IMG (
            ORIGIN_IMG_NAME
            , ATTACHED_IMG_NAME
            , IS_MAIN
            , QST_ID
        ) VALUES
    <foreach collection="questionImgDTOList" item="questionImg" separator=",">
        (
            #{questionImg.originImgName}
            , #{questionImg.attachedImgName}
            , #{questionImg.isMain}
            , #{questionImg.qstId}
        )
    </foreach>
    </insert>
</mapper>