/* 
 @: 앳
 ^: 캐럿
 -: 하이픈
 &: 앰퍼센트
 *: 에스테리스크(모든, 전체, ALL)
*/
.container{
  border: 5px solid red;  
  margin: 20px;
  width: 500px;
  font-size: 2;
}

.inner1{
  border: 5px solid black;
  padding: 0px 10px;
  width: 500px;
  /* box-sizing은 width 계산의 기준을 설정 */
  /* content-box : width를 컨텐츠 영역을 기준으로 삼겠다 */
  /* border-box : width를 테두리까지 합친 크기를 기준으로 삼겠다 */
  /* box-sizing 속성을 작성하지 않으면 contnet-box가 기본값이다 */
  /* 모든 태그에 box-sizing : border-box로 설정 후 코드 작성! */
  box-sizing: content-box;
}

.inner2{
  border: 5px solid black;
  padding: 0px 10px;
  width: 500px;
  box-sizing: border-box;
}

/* 선택자에 *를 입력하면 모든 태그를 선택함 */
*{
  color: blue;
  box-sizing: border-box;
}