body{
  background-color: #e0ffff;
}

.container{
  width: 400px;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  /* border: 1px solid gray; */
  /* box-shadow: 0px 1px 3px 1px gray; */
}

.relative-div{
  position: relative;
}

.img1{
  width: 400px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.heart{
  color: white;
  position: absolute;
  top: 5px;
  right: 10px;
}

.container > div:last-child{
  margin: 7px 15px;
}

h1{
  color: #ffa500;
  margin: 3px 0px;
}

.h3-2{
  font-weight: 400;
  color: #8f8081;
}

.flex-div1{
  margin: 20px 0px;
  display: flex;
  justify-content: space-evenly;
}

.flex-div2{
  display: flex;
  justify-content: space-between;
}

.flex-div2 > div:first-child{
  display: flex;
}

.bottom{
  align-self: center;
}

.img2{
  width: 50px;
  border-radius: 50%;
  border: 1px solid #d6d6d6;
  margin: 10px 0px;
  margin-right: 10px;
}

p:last-child{
  color: #8f8081;
}

button{
  color: white;
  background-color: #32cd32;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 15px;
}