*{
  box-sizing: border-box;
}

.container{
  border: 1px solid #dddddd;
  width: 300px;
  margin: 30px auto;
  border-radius: 6px;
  background-color: #eeeeee;
  padding: 20px;
}

input{
  width: 100%;
  margin: 4px 0px;
  padding: 6px 9px;
  border-radius: 12px;
  border: 1px solid #dddddd;
}

h2{
  text-align: center;
}

.btn{
  background-color: black;
  color: white;
}