*{
  box-sizing: border-box;
}

.container{
  width: 800px;
  margin: auto;
}

.container > div{
  padding: 50px 250px;
}

.container input[type="text"] {
  width: 100%;

}

table{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

tr, td{
  border: 1px solid black;
}