.container{
  width: 700px;
  margin: 30px auto;
}

table{
  width: 100%;
  text-align: center;
}

thead > tr{
  border-top: 1px solid black;
  border-bottom: 1px solid lightgray;
}

tbody > tr{
  border-bottom: 1px solid lightgray;
}

td{
  padding: 10px 4px;
}

tbody > tr > td:nth-child(3){
  text-align: start;
}

tbody > tr:nth-child(even){
  background-color: #f8f8f8;
}

tbody > tr:hover{
  background-color: #dddddd;
}

.a:hover{
  cursor: pointer; /* 손가락 모양 */
}

tbody > tr > td:nth-child(3):hover{
  cursor: pointer;
}