<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.backend_car.sales.mapper.SalesMapper">
	<!-- sales_info 테이블의 조회된 컬럼을 받아올 정의문 -->
    <resultMap id="salesInfo" type="com.green.backend_car.sales.dto.SalesDTO">
        <result column="SALES_NUM"  property="salesNum" />
        <result column="BUYER"      property="buyer" />
        <result column="BUYER_TEL"  property="buyerTel" />
        <result column="COLOR"      property="color" />
        <result column="SALES_DATE" property="salesDate" />
        <result column="MODEL_NUM"  property="modelNum" />
        <association property="carDTO" resultMap="com.green.backend_car.car.mapper.CarMapper.car" />
    </resultMap>

    <!-- 판매 정보 등록 -->
    <insert id="regSales">
        INSERT INTO SALES_INFO (
            BUYER
            , BUYER_TEL
            , COLOR
            , MODEL_NUM
        ) VALUES (
            #{buyer}
            , #{buyerTel}
            , #{color}
            , #{modelNum}
        )
    </insert>

    <!-- 판매 정보 조회 -->
    <select id="getSalesList" resultMap="salesInfo">
        SELECT BUYER
            , BUYER_TEL
            , SALES_DATE
            , COLOR
            , (SELECT MODEL_NAME
                FROM CAR_INFO
                WHERE MODEL_NUM = S.MODEL_NUM) MODEL_NAME
            , (SELECT PRICE
                FROM CAR_INFO
                WHERE MODEL_NUM = S.MODEL_NUM) PRICE
        FROM SALES_INFO S
        ORDER BY SALES_DATE DESC
    </select>
</mapper>