.test3_container{
  margin: 30px;
}

.test3_container > div{
  width: 300px;
  background-color: crimson;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px 0px;
  margin-top: 10px;
  font-weight: 300;
}