.test4_container{
  margin: 30px;
  display: flex;
  gap: 10px;
}

.test4_container > div{
  background-color: crimson;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: white;
  font-size: 3rem;
}