.form2-container{
  width: 400px;
  margin: 30px auto;
}

.form2-container > h1{
  text-align: center;
}

.grid-div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.form2-container input:not([type='radio']), .form2-container select, .form2-container textarea{
  width: 100%;
}

.btn-div {
  text-align: center;
}

.form2-container textarea{
  resize: none;
}

.btn-div > button{
  padding: 3px 10px;
  background-color: lightskyblue;
  color: white;
  border-radius: 5px;
  border: none;
}