.test3_container{
  margin: 30px;
}

.test3_container > div{
  margin-top: 30px;
  background-color: crimson;
  color: white;
  width: 350px;
  padding: 15px 0px;
  text-align: center;
  font-size: 1.5rem;
}