.test1_container{
  margin: 30px;
}

.test1_container > div{
  width: 100px;
  height: 100px;
  background-color: crimson;
  color: white;
  font-size: 3rem;
  text-align: center;
  line-height: 100px;
}