.container{
  width: 1280px;
  margin: 0 auto;
  border: 1px solid black;
}

.header_div{
  height: 80px;
  border: 3px solid red;
}

.main{
  display: flex;
}

.side{
  width: 20%;
  border: 3px solid blue;
}
.content{
  width: 80%;
  border: 3px solid green;
}