<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.backend_shop.book_category.mapper.BookCategoryMapper">

    <!-- book_category 테이블에서 조회되는 결과를 받아올 정의문 -->
	<resultMap id="bookCategory" type="com.green.backend_shop.book_category.dto.BookCategoryDTO">
        <id     column="CATE_NUM"  property="cateNum" />
        <result column="CATE_NAME" property="cateName" />
    </resultMap>

    <!-- 도서 카테고리 목록 조회 쿼리 -->
    <select id="getCateList" resultMap="bookCategory">
        SELECT CATE_NUM
            , CATE_NAME
        FROM BOOK_CATEGORY
        ORDER BY CATE_NUM
    </select>

    <insert id="insertBookCategory">

    </insert>
</mapper>