.orderDetail-container{
  width: 800px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.detail-table{
  width: 100%;
  margin-top: 30px;
  font-size: 1.2rem;
}

.detail-table tr, .detail-table td{
  border: 1px solid white;
  padding: 7px 0px;
}

.detail-table td:nth-child(odd){
  background-color: #d1d4e8;
}

.detail-table td:nth-child(even){
  background-color: #eaebf4;
}