.container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container p{
  margin-bottom: 5px;
}

.id_div > div{
  display: flex;
  gap: 10px;
}

.tel_div > div{
  display: flex;
  gap: 10px;
}

.email_div > div{
  display: flex;
  gap: 10px;
}

.addr_div > div > div{
  margin-bottom: 5px;
  display: flex;
  gap: 10px;
}