body{
  height: 100vh;
  width: 100%;
  background: linear-gradient(30deg, #8dd2d8, #cb4feb);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 350px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 30px;
}

.content{
  margin-top: 30px;
}

.input-div{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-div > div{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.input-div > div > p{
  align-self: flex-start;
  font-size: 0.75rem;
}

.forget-pw{
  align-self: flex-end !important;
}

.input-icon{
  position: relative;
}

.input-icon > input{
  width: 100%;
  padding: 10px 25px;
  border: none;
  border-bottom: 1px solid #aaaaaa;
}

.input-icon > span{
  position: absolute;
  top: 5px;
  left: 5px;
  color: #777777;
}

.input-div > button{
  background: linear-gradient(30deg, #8dd2d8, #cb4feb);
  padding: 10px 0px;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 0.75rem;
}

.icon-div{
  margin-top: 35px;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon-div > div{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-div > div > span{
  overflow: hidden;
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.icon-1{
  background-color: #505b8e;
}

.icon-2{
  background-color: #709ee5;
}

.icon-3{
  background-color: #bf5c4c;
}

.footer{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.75rem;
}

.footer > p:first-child{
  color: #777777;
}