<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/stu-list.css">
</head>
<body>
  <h3>학생 목록 페이지</h3>
  <div class="container">
    <div>
      <select 
        onchange="getStuList2()" 
        id="class-select"
      >
        <option value="0">전체</option>
        <option 
          th:value="${cls.classNum}" 
          th:each="cls : ${classList}">
          [[${cls.className}]]
        </option>
      </select>

      <table class="list-table">
        <thead>
          <tr>
            <td>No</td>
            <td>학생명</td>
            <td>나이</td>
          </tr>
        </thead>
        <tbody>
          <tr th:each="stu, state : ${stuList}">
            <td>[[${state.count}]]</td>
            <td>
              <span th:onclick="getDetail([[${stu.stuNum}]])">[[${stu.stuName}]]</span>
            </td>
            <td>[[${stu.stuAge}]]</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="detail-div"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/stu-list.js"></script>
</body>
</html>