.header{
  background-color: black;
  height: 70px;
  color: white;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div{
  display: flex;
  gap: 7px;
}

.header button{
  color: white;
  background-color: #555555;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
}

.header button:hover{
  background-color: #666666;
}

.header button:active{
  background-color: #444444;
}

.content{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

