.container{
  padding: 0px 20px 0px 0px;
}

.content{
  gap: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #eeeeee;
  padding: 20px;
}

.qna_table{
  width: 100%;
}

.qna_table td{
  padding: 10px;
  vertical-align: top;
  background-color: white;
  border: 1px solid #cccccc;
}

.qna_table tr:last-child{
  height: 300px;
}

.btn_div{
  text-align: end;
  margin-top: 20px;
}