.container{
  height: 100%;
}

.login_div{
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.login_div > span{
  cursor: pointer;
}

.banner_div{
  height: 150px; 
  position: relative;
  cursor: pointer;
}

.menu_div{
  height: 35px;
}

.banner_img{
  width: 100%;
  height: 100%;
}

.banner_div > p{
  position: absolute;
  left: 30px;
  top: 25px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 10px;
}