*{
  box-sizing: border-box;
}

.container{
  margin: 30px auto;
  width: 700px;
  border: none;
  background-color: #ffbb00;
  padding: 10px 50px;
}

h1{
  text-align: center;
}

hr{
  margin-bottom: 20px;
}

.container > div{
  width: 100%;
  padding: 0px 170px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

p{
  margin: 0px;
}

input[value="Sign in"]{
  padding: 8px 13px;
  color: white;
  border: none;
  border-radius: 3px;
  margin-right: 3px;
  background-color: #00cccc;
}

input[value="Sign up"]{
  padding: 8px 13px;
  color: white;
  border: none;
  border-radius: 3px;
  background-color: #0088ff;
}