body{
  background-color: #f0f0f0;
}

.container{
  width: 370px;
  padding: 20px 20px;
  margin: 100px auto;
  background-color: #e9e9e9;
  border-radius: 3px;
  box-shadow: 0px 3px 5px 1px #cccccc;
}

.icon-div{
  text-align: center;
}


.input-div{
  color: #333333;
  font-size: 0.85rem;
  background-color: white;
  border-radius: 3px;
  padding: 30px 20px;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icon-div > span{
  color: #4571a4;
  font-size: 5rem;
  border-radius: 50%;
  box-shadow: 0px 0px 1Ypx 1px;
}

.input-div input:not([type="checkbox"]){
  width: 100%;
  padding: 8px;
  margin-top: 3px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
}

.input-div input:not([type="checkbox"]):focus{
  outline: 1px solid #aaaaaa;
}

.position-div{
  position: relative;
}

.position-div > span{
  font-size: 1rem;
  color: #4571a4;
  position: absolute;
  top: 9px;
  right: 10px;
}

.input-div > div:last-child{
  display: flex;
  justify-content: space-between;
}

.input-div > div:last-child > button{
  background-color: #4571a4;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}

.input-div > div:last-child > button:hover{
  cursor: pointer;
}
.input-div > div:last-child > button:active{
  background-color: #346093;

}

.search-div{
  padding-left: 20px;
  font-size: 0.85rem;
  margin-bottom: 50px;
  color: #333333;
}

.language-div{
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.language-div > select{
  width: 70%;
  color: #333333;
}

.language-div > button{
  color: #4571a4;
  border: 1px solid #4571a4;
  background-color: white;
  border-radius: 3px;
  padding: 3px 7px;
}

.language-div > button:hover{
  cursor: pointer;
}

.language-div > button:active{
  background-color: rgb(250, 250, 250);
}