body{
  background-color: #f1f1ef;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 1200px;
  background-color: white;
  box-shadow: 10px 10px 10px 1px #cccccc;
}

.menu{

}