@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
  background-color: #f1f0ee;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: white;
  width: 1400px;
  box-shadow: 10px 10px 10px 1px #cccccc;
}

.menu{
  padding-bottom: 15px;
  padding-left: 5px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  align-items: center;
}

.left-menu{
  padding-right: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-menu > h2{
  color: #7b39c7;
  font-weight: 300;
}

.left-menu > div{
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.left-menu input{
  width: 220px;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid #777777;
}

.left-menu > div > span{
  padding: 0px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #030150;
  color: white;
  position: absolute;
  height: 100%;
  right: 0px;
}



.right-menu{
  padding-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.right-menu > ul{
  display: flex;
  align-items: center;
  gap: 15px;
}

.right-menu a{
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}

.right-menu button:first-child{
  color: white;
  background-color: #7b39c7;
  padding: 5px 25px;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 300;
  border: 1px solid #7b39c7;
}

.right-menu button:last-child{
  background-color: white;
  border: 1px solid #7b39c7;
  padding: 5px 25px;
  font-size: 1.2rem;
  border-radius: 20px;
  font-weight: 300;
  color: #7b39c7;
}

.content{
  padding: 0px 50px;
  padding-top: 70px;
}

.help{
  display: flex;
}

.left-help{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #030150;
}

.left-help p{
  line-height: 30px;
}

.left-help button{
  padding: 5px 25px;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 300;
}

.left-help button:first-child{
  color: white;
  background-color: #7b39c7;
  border: 1px solid #7b39c7;
}

.left-help button:last-child{
  border: 1px solid #7b39c7;
  background-color: white;
  color: #7b39c7;
}

.right-help{
  width: 70%;
}

.right-help img{
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center bottom;
}

.info{
  text-align: center;
  color: #030150;
  margin-top: 30px;
}

.info > h2{
  font-weight: 400;
  margin-bottom: 30px;
}

.info > div{
  display: flex;
}

.info > div > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info > div > div > h2{
  font-weight: 400;
}

.info > div > div > a{
  text-decoration: none;
  color: #7b39c7;
}

.info > div > button{
  width: 10%;
  font-size: 3rem;
  color: #cccccc;
  border: none;
  background-color: white;
}

.info > div > div:first-of-type{
  width: 40%;
  padding-right: 30px;
}

.info > div > div:last-of-type{
  width: 40%;
  padding-left: 30px;
}