<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.legacy_board.mapper.MemberMapper">
	<resultMap id="member" type="com.green.legacy_board.dto.MemberDTO">
        <id     column="ID"   property="id" />
        <result column="PW" property="pw" />
        <result column="NAME" property="name" />
        <result column="ROLE" property="role" />
    </resultMap>

    <insert id="join">
        INSERT INTO MEMBER2 (
            ID
            , PW
            , NAME
        ) VALUES (
            #{id}
            , #{pw}
            , #{name}
        );
    </insert>

    <!-- 로그인 검증 -->
    <select id="login" resultMap="member">
        SELECT ID
            , NAME
            , ROLE
        FROM MEMBER2
        WHERE ID = #{id}
        AND PW = #{pw}
    </select>
</mapper>