<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.basic_member.mapper.MemberMapper">
	<insert id="insertMember">
        INSERT INTO BASIC_MEMBER (
            MEM_ID
            , MEM_PW
            , MEM_NAME
            , MEM_AGE
            , BIRTHDAY
        )
        VALUES (
            3
            , '3333'
            , '박자바'
            , 22
            , '2001-03-03'
        )
    </insert>

    <update id="updateMember">
        UPDATE BASIC_MEMBER
        SET
            MEM_PW = '1234'
            , MEM_AGE = MEM_AGE + 1
        WHERE MEM_ID = 2
    </update>

    <delete id="deleteMember">
        DELETE FROM BASIC_MEMBER
        WHERE MEM_ID = 3
    </delete>
</mapper>































