.container{
  margin: 0 auto;
}

.header_div{
  height: 100px;
  border: 3px solid red;
}

.main{
  display: flex;
}

.side{
  width: 20%;
  position: fixed;
  top: 150px;
  left: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.content{
  width: 80%;
  padding: 20px;
  margin-left: auto;
}