<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.todo.TodoMapper">
	<resultMap id="todo" type="com.green.todo.TodoDTO">
        <id     column="TODO_NUM"   property="todoNum" />
        <result column="TODO_TITLE" property="todoTitle" />
    </resultMap>

    <!-- todoList 조회 -->
    <select id="getTodoList" resultMap="todo">
        SELECT TODO_NUM
            , TODO_TITLE
        FROM TODO
    </select>

    <!-- todoList 등록 -->
    <insert id="regTodo">
        INSERT INTO TODO (
            TODO_TITLE
        ) VALUES (
            #{todoTitle}
        );
    </insert>

    <!-- todo 한 개 삭제 -->
    <delete id="deleteTodo">
        DELETE FROM TODO
        WHERE TODO_NUM = #{todoNum}
    </delete>
</mapper>