<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>수정 페이지</h3>
  <form action="/boards/update" method="post">
    <input type="hidden" name="boardNum" th:value="${boardDetail.boardNum}">
    글번호 : [[${boardDetail.boardNum}]] <br>
    제목 : <input type="text" name="title" th:value="${boardDetail.title}"> <br>
    내용 : <textarea cols="50" rows="5" name="content" type="text">[[${boardDetail.content}]]</textarea> <br>
    작성자 : [[${boardDetail.writer}]] <br>
    작성일 : [[${boardDetail.createDate}]] <br>
    조회수 : [[${boardDetail.readCnt}]] <br>
  
    <button type="submit">수정</button>
  </form>
  <script src="/js/board-update.js"></script>
</body>
</html>