<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<!-- 
  input 태그의 데이터를 controller로 전달하기 위해서는 반드시 input 태그를 form 태그에 감쌈!
  추가적으로 submit 타입의 버튼도 반드시 form 태그 안에 있어야 함.
  form 태그 안의 submit 버튼을 클릭하면 form태그 안의 input 태그 데이터를 전송함.
  form 태그의 action 속성에는 이동할 url을 입력.
  form 태그의 mehthod 속성에서 get, post, put, delete 중 하나를 작성
-->
<body>
  <h3>회원가입 페이지</h3>
  <form action="/members/join" method="post">
    아이디 <input type="text" name="id"> <br>
    비밀번호 <input type="password" name="pw"> <br>
    이름 <input type="text" name="name"> <br>
    <button type="submit">회원가입</button>
  </form>
</body>
</html>