<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.legacy_board.mapper.MemberMapper">
	<resultMap id="member" type="com.green.legacy_board.dto.MemberDTO">
        <id     column="MEM_EMAIL"  property="memEmail" />
        <result column="MEM_PW"     property="memPw" />
        <result column="MEM_NAME"   property="memName" />
        <result column="MEM_ROLE"   property="memRole" />
    </resultMap>

    <insert id="join">
        INSERT INTO SECURITY_MEMBER (
            MEM_EMAIL
            , MEM_PW
            , MEM_NAME
        ) VALUES (
            #{memEmail}
            , #{memPw}
            , #{memName}
        );
    </insert>

    <!-- 로그인 검증을 위한 id, pw 조회 -->
    <select id="getMemberInfoForLogin" resultMap="member">
        SELECT MEM_EMAIL
            , MEM_PW
            , MEM_ROLE
        FROM SECURITY_MEMBER
        WHERE MEM_EMAIL = #{memEmail}
    </select>
</mapper>